.main-footer {
  display: flex;
  flex-direction: column;
  background-color: #292841;
  margin-top: 50px;
  width: 100%;
}

.footer-title {
  display: flex;
  justify-content: center;
}

.footer-logo {
  margin-top: 10px;
  display: flex;
  width: 100px;
}

.items-footer {
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 100%;
}

.options-footer {
  margin-top: 20px;
  display: flex;
  width: 700px;
  justify-content: space-around;
  font-weight: 700;
}

.line-footer {
  width: 900px;
  margin-top: 30px;
}

.copyright {
  display: flex;
  margin-top: 20px;
  font-size: 12px;
  justify-content: center;
  margin-bottom: 30px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .options-footer {
    font-size: 8px;
  }
  .line-footer {
    width: 100%;
  }
}
