.container-triplo {
  display: flex;
  flex-direction: column;
}

.text-subtitle {
  display: flex;
  justify-content: center;
}

.user-info {
  justify-content: center;
}
.container-triplo {
  display: flex;
  margin-top: 0px;
  width: 100%;
}
.topics {
  display: flex;
  justify-content: center;
}
.img-container-triplo {
  display: flex;
  width: 300px;
}

.txt-container-triplo {
  margin-top: 10px;
  display: flex;
  font-size: 25px;
  width: 400px;
  font-weight: 700;
  text-align: center;
}
.box-triplo {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  justify-items: center;
}
.box-single {
  display: flex;
  align-items: center;
  flex-direction: column;
}
