.container-triplo {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.text-subtitle {
  display: flex;
  justify-content: center;
}

.user-info {
  justify-content: center;
}

.topics {
  display: flex;
  justify-content: center;
}
.img-container-triplo {
  display: flex;
  width: 300px;
}

.txt-container-triplo {
  margin-top: 10px;
  display: flex;
  font-size: 25px;
  width: 400px;
  font-weight: 700;
  text-align: center;
}
.box-triplo {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  justify-items: center;
}
.box-single {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container-body {
    display: flex;
    width: 90%;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-top {
    width: 100%;
  }
  .pattern-text,
  .link {
    font-size: 12px;
  }
  .subtitle {
    display: flex;
    width: 90%;
  }
  .container-triplo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
  }

  .text-subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .user-info {
    justify-content: center;
  }

  .topics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
  }
  .img-container-triplo {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-top: 50px;
  }

  .txt-container-triplo {
    margin-top: 20px;
    display: flex;
    font-size: 25px;
    width: 400px;
    font-weight: 700;
    text-align: center;
    flex-direction: column;
  }
  .box-triplo {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: column;
  }
  .box-single {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .line,
  .subtitle-line,
  .line-footer {
    width: 90%;
  }
  .space {
    line-height: 50px;
  }
}
