body {
  display: flex;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.top {
  display: flex;
  background-color: #292841;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.logo-bittech {
  width: 70px;
}
.items-bar-top {
  display: flex;
  width: 900px;
  justify-content: space-around;
}
.bar-top {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.simple-text {
  font-weight: 300;
}

.pattern-text {
  color: #292841;
  font-weight: 700;
}
a.link:link {
  color: #292841;
  text-decoration: none;
}
a.link:visited {
  color: #292841;
  text-decoration: none;
}
a.link:hover {
  color: #292841;
  text-decoration: none;
}
a.link:active {
  color: #292841;
  text-decoration: none;
}
a.link-footer:link {
  color: #ffffff;
  text-decoration: none;
}
a.link-footer:visited {
  color: #ffffff;
  text-decoration: none;
}
a.link-footer:hover {
  color: #ffffff;
  text-decoration: none;
}
a.link-footer:active {
  color: #ffffff;
  text-decoration: none;
}
.line {
  margin-top: 20px;
  width: 1000px;
  color: rgba(0, 0, 0, 0.294);
}

.container-body {
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
}

.text-headline {
  display: flex;
  font-weight: 700;
  font-size: 60px;
  width: 900px;
  justify-content: center;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.text-subtitle {
  margin-top: 20px;
  display: flex;
  width: 900px;
}

.user {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  width: 900px;
}

.mike-picture {
  margin-top: 10px;
  width: 40px;
  border-radius: 10px;
}

.name-user {
  margin-left: 10px;
  font-size: 12px;
}

.icon-relogio {
  margin-left: 20px;
  width: 20px;
}

.time-user {
  margin-left: 10px;
  font-size: 12px;
}

.subtitle-line {
  margin-top: 30px;
  width: 950px;
  color: rgba(0, 0, 0, 0.294);
}

.iphone {
  display: flex;
  margin-top: 70px;
  width: 700px;
}
.image-iphone {
  display: flex;
  justify-content: center;
}

.subtitle-image {
  display: flex;
  justify-content: center;
}

.text-subtitle-image,
.text-subtitle-guru {
  display: flex;
  margin-top: 5px;
  font-size: 14px;
}

.lead {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.title-info {
  margin-top: 10px;
  font-weight: 700;
}
.text-lead {
  width: 800px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.guru-photo {
  display: flex;
  margin-top: 70px;
  width: 700px;
}

.example-photo {
  display: flex;
  justify-content: center;
}

.subtitle-guru {
  display: flex;
  justify-content: center;
}

.read {
  margin-bottom: 500px;
}

.read-more {
  font-size: 13px;
}

@media (max-width: 768px) {
  .iphone,
  .guru-photo {
    width: 300px;
  }
  .items-bar-top,
  .pattern-text {
    display: flex;
    justify-content: space-around;
    font-size: 9px;
  }
  .text-subtitle-image,
  .text-subtitle-guru {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    width: 90%;
  }
  .lead {
    width: 90%;
    justify-content: center;
  }
  .text-headline {
    font-size: 40px;
    font-weight: 700;
    width: 94%;
  }
  .text-subtitle {
    width: 94%;
  }
  .line,
  .subtitle-line,
  .line-footer {
    width: 90%;
  }
  .pattern-text,
  .link {
    font-size: 12px;
  }
  .user-info {
    display: flex;
    width: 94%;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
